body {
    font-family: 'Noto Sans KR', sans-serif;
  }
  
  #carouselExampleIndicators {
      line-height: 400px;
  }
  
  .carousel-inner .guitar {
      background-image: url("../images/guitar.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: left center;
      width: 100%;
      height: 400px;
      text-align: center;
      color: white;
  }